// Fonts

// Colors
$purple-btn: linear-gradient(115.11deg, #f32c6d 10.12%, #cb1d95 100.01%);
$purple-btn-hover: linear-gradient(115.11deg, #d1255e 10.12%, #b91c88 100.01%);
$gray: #e6e6e6;
$blue: #77b2d3;
$blue-hover: #619cbe;
